header {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #000;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  margin: 92px 24px;
  max-width: 1052px;
}

.header__links-list {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  list-style-type: circle;
  padding-left: 26.5px;
}

.header__link {
  text-decoration: none;
  border-bottom: #000 solid 1px;
}

.header__links-list-item {
  white-space: nowrap;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  margin-left: 40.4px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  line-height: 24px;
  display: grid;
  justify-content: end;
  padding-right: 52px;
}

.address__text {
  list-style-type: none;
  text-decoration: none;
  white-space: nowrap;
  font-style: normal;
}

.contact {
  border-bottom: #000 solid 1px;
}

/*  конец раздела header */
.cover {
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  max-height: 757px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  font-family: "Raleway", sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

.aligned-text {
  display: block;
  padding-top: 165px;
  padding-left: 50px;
  line-height: 115%;
}

.aligned-text_center {
  display: block;
  text-align: center;
  padding-top: 20px;
  padding-right: 10px;
  line-height: 100%;
}

.aligned-text_right {
  display: block;
  text-align: right;
  line-height: 100%;
  padding-top: 20px;
  padding-right: 50px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 77px;
  font-family: "Raleway", sans-serif;
  padding-top: 145px;
  position: relative;
  z-index: 1;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;
  word-spacing: 18px;
  padding-left: 82px;
  padding-bottom: 62px;
}

.bet-button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-size: 22px;
  text-transform: uppercase;
  padding: 12px 32px;
  margin-bottom: 51px;
}

/*  конец секции cover */
.lots {
  padding-top: 179px;
  display: flex;
  flex-direction: column;
}

.lots__heading {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  padding-bottom: 27px;
  padding-left: 64px;
}

.lots__card-list {
  display: flex;
  flex-direction: row;
  gap: 25px;
  padding-left: 24px;
  padding-right: 24px;
}

.lots__card-list-item {
  list-style-type: none;
}

.card {
  position: relative;
  min-width: 334px;
  min-height: 563px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration-line: underline;
}

.card__text {
  position: relative;
  z-index: 1;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: #fff;
}

.card-link {
  display: block;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/photo.png);
}

.card_type_book {
  background-image: url(../images/photo2.jpg);
}

.card_type_picture {
  background-image: url(../images/photo3.png);
}

.lots__look-more-link {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #000;
  font-weight: 400;
  padding-top: 30px;
  padding-left: 64px;
}

/* конец секции lost */
.about {
  margin-top: 146px;
}

.about__column {
  display: grid;
  grid-template-columns: 334px 1fr;
}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
  margin-top: 35px;
  margin-left: 71px;
}

.about__logo-image {
  width: 148px;
}

.about__content {
  font-family: "Raleway", sans-serif;
  color: #000;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  padding-top: 133px;
  padding-bottom: 76px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  padding-right: 24px;
}

/* конец секции about */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 178px 50px 91px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: #000;
}

.address__footer {
  line-height: 24px;
}

.footer__menu-list {
  list-style-type: none;
  text-align: center;
}

.footer__social-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
}

.footer__menu-link_active {
  text-decoration: none;
}
